* {
  /* CSS Reset */
  margin: 0px;
  padding: 0px;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
}
#navbar {
  display: flex;
  align-items: center;
  position: relative;
}

#logo {
  margin: -5px 17px;
}

#logo img {
  height: 100px;
  width: 100px;
}

#navbar ul {
  display: flex;
}

#navbar ul li {
  list-style: none;
  font-size: 1.5rem;
}

#navbar ul li a {
  font-family: "Baloo Bhaijaan 2", cursive;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 20px;
  text-shadow: 3px 3px black;
}
#navbar ul li a:hover {
  color: black;
  background-color: white;
  text-shadow: none;
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  padding: 5px 100px;
  justify-content: center;
  align-items: center;
  height: 208px;
}
#home::before {
  content: "";
  position: absolute;
  height: 67%;
  width: 100%;
  background: url("../bg2.jpg") no-repeat center center/cover;
  z-index: -1;
  top: 0;
  left: 0;
  /* opacity: 5; */
}

#home h1 {
  text-align: center;
  color: white;
  text-shadow: 4px 4px black;
}
#home p {
  font-size: 1.2rem;
  text-align: center;
  font-family: "Bree Serif", serif;
  color: white;
}
.btn {
  padding: 4px 8px;
  margin: 17px;
  background-color: tomato;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Services section */
.services {
  margin: 10px;
  display: flex;
}
.services .box {
  border: 2px solid red;
  padding: 14px;
  margin: 0px 4px;
  border-radius: 23px;
  background-color: beige;
}
.services .box img {
  height: 100px;
  margin: auto;
  display: block;
}
.services .box p {
  font-family: "Bree Serif", serif;
}

/* Utility classes */
.h-primary {
  font-family: "Baloo Bhaijaan 2", cursive;
  font-size: 2rem;
  padding: 12px;
}
.h-secondary {
  font-size: 1.5rem;
  font-family: "Baloo Bhaijaan 2", cursive;
  padding: 10px;
  font-weight: bold;
}
.center {
  text-align: center;
}
